.productsWrapper {
    margin:0 auto;
    padding:1rem 0 2rem 0;
    width:1200px;
    display:flex;
    justify-content:space-between;
}

.productItem {
    width:24%;
    background-color: #f7f7f7;
}
.productItem__image {
    width: 100%;
    height:20rem;
    position: relative;
    overflow: hidden;
}
.productItem__image span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.productItem__image img {
    width: 100%;
    vertical-align:middle;
}
.productItem__info {
    padding:1rem;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .productsWrapper {
      width: 1199px;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 992px) {
    .productsWrapper {
      width: 99%;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .productsWrapper {
      width: 99%;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 576px) {
    .productsWrapper {
      width: 99%;
    }
  }
  @media only screen and (max-width: 575px) and (min-width: 281px) {
    .productsWrapper {
      width: 99%;
    }
  }
  @media only screen and (max-width: 280px) {
    .productsWrapper {
      width: 99%;
    }
  }
  