.navigation {
  display: flex;
  align-items: center;
}
.userLinks {
  padding: 0 1rem;
  font-size: 0.9rem;
}

.userLinks a {
  color: #1c4e86;
}

.userLinks a:hover {
    text-decoration: underline;
}
