body {
  background-color: #F1FAEE;
}

.none {
  display: none;
}

.row {
  margin: 0 auto;
  padding: 0;
  width: 1260px;
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1259px) and (min-width: 1140px) {
  .row {
    margin: 0 auto;
    padding: 0;
    width: 1140px;
    position: relative;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1139px) and (min-width: 992px) {

}
@media only screen and (max-width: 991px) and (min-width: 768px) {

}
@media only screen and (max-width: 767px) and (min-width: 576px) {

}
@media only screen and (max-width: 575px) and (min-width: 281px) {

} @media only screen and (max-width: 280px) {

}
